<h2>Here is info on one of your products</h2>

<a href="/products">what the user sees</a>

<p><%= @product.id %></p>
<h3> name: <%= @product.name%></h3>
<p> price: <%= @product.price%></h3>
<p> description: <%= @product.description%></h3>
<p> image_id: <%= @product.image_id%></h3>
